
/*variable depending on the page*/

#referent>* {
  --headbar2: #9b9b9b;
  --headbar1: #fff;
  --primary: #11998e;
  --secondary: #38ef7d;
  --background: #fff;
  --inactive: #9b9b9b;
  }

#jeune>* {

--primary: #11998e;
--secondary: #38ef7d;
--background: #fff;
--inactive: #9b9b9b;
}


/*référent style*/


#skills{
  border: 2px solid;
  position: fixed;
  right:10px;
  margin: auto;
  top:25%;
}

#info{
  position:fixed;
  left:25%;
  right:25%;
}

#comment_area{
  position: fixed;
  width:200px;
  left:10px;
  top:25%;
}

[name="comments"]{
  height:180px;
}


[type="submit"]{
  position: fixed;
  bottom: 20%;
  right: 3%;
  
}


#page_head {
  position: fixed;
  top:0px;
  right: 0px;
  left: 0px;
  background: radial-gradient(at bottom left, var(--headbar1), var(--headbar2));
  
  
  margin-top: 0px;

}




/*inputs style*/


.input_text {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}


/*Style Input Text*/
.writing{  
  font-family: inherit;
  width: 100%;
  /*border: 0;*/
  border: 2px solid var(--inactive);
  outline: 0;
  font-size: 1.3rem;
  
  padding: 7px 0;
  background: transparent;
}

/*placeholders are used to detect if something is written in the input*/

.writing::placeholder {
    color: transparent;
  }


  .writing:placeholder-shown ~ label {
    position: absolute;
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }


  .writing~ label {
  position: relative;
  top: 0px;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--inactive);
}

.writing:focus {

  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, var(--primary),var(--secondary));
  border-image-slice: 1;
}

.writing:focus ~ label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: var(--primary);
    font-weight:700;    
  }

/* reset input 
.form__field{
  &:required,&:invalid { box-shadow:none; }
}
/* demo 
body {
  font-family: 'Poppins', sans-serif; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.5rem;
  background-color:#222222;
}
*/
