
/*variable depending on the page*/

#referent>* {
  --headbar2: #9b9b9b;
  --headbar1: #fff;
  --primary: #11998e;
  --secondary: #38ef7d;
  --background: #fff;
  --inactive: #9b9b9b;
  }

#jeune>* {

--primary: #11998e;
--secondary: #38ef7d;
--background: #fff;
--inactive: #9b9b9b;
}


/*Inputs pages style*/

/*PAGE HEAD*/

#page_head {
  position: fixed;
  top:0px;
  right: 0px;
  left: 0px;
  height: 20%;
  background: radial-gradient(at bottom left, var(--headbar1), var(--headbar2));
  
  
  margin-top: 0px;
}

#module{
  position: absolute;
  right: 5px;
  top: -70px;
  font-family: sans-serif;
  color: var(--primary);
  font-size: 500%;
  
}

#tagline{
  position: absolute;
  right: 5px;
  top: 50px;
  font-family: sans-serif;
  color: white;
  font-size: 300%;
}

#navbar{
  position:absolute;
  right: 25%;
  left: 25%;
  top: 20%;
  height: 40px;
  margin: auto;


  list-style: none;
  background: linear-gradient(180deg, var(--headbar1),var(--headbar2));
  
}

#navbar li{
  display: inline-block;
  font-family: sans-serif;
  font-size: 150%;
  margin-top: 7px;
  margin-right:40px;
  margin-left:40px;
  
}
#navbar:first-child{
  
}

 a:link{
  text-decoration: none;

 }



/*Inputs boxes*/

#skills{
  border: 2px solid;
  position: fixed;
  right:10px;
  margin: auto;
  top:25%;
}

#info{
  position:fixed;
  top:40%;
  left:25%;
  right:25%;
}

#comment_area{
  position: fixed;
  width:200px;
  left:10px;
  top:25%;
}

[name="comments"]{
  height:180px;
}


[type="submit"]{
  position: fixed;
  bottom: 20%;
  right: 3%;
  
}







/*inputs style*/


.input_text {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}


/*Style Input Text*/
.writing{  
  font-family: inherit;
  width: 100%;
  /*border: 0;*/
  border: 2px solid var(--inactive);
  outline: 0;
  font-size: 1.3rem;
  
  padding: 7px 0;
  background: transparent;
}

/*placeholders are used to detect if something is written in the input*/

.writing::placeholder {
    color: transparent;
  }


  .writing:placeholder-shown ~ label {
    position: absolute;
    font-size: 1.3rem;
    cursor: text;
    top: 23px;
    background-color: transparent;
  }


  .writing~ label {
  position: absolute;
  top: 4px;
  left: 5px;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--inactive);
  background-color: var(--background);
}

.writing:focus {

  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, var(--primary),var(--secondary));
  border-image-slice: 1;
}

.writing:focus ~ label {
    position: absolute;
    top: 4px;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: var(--primary);
    font-weight:700;  
    background-color: var(--background);  
  }
