
/*variable depending on the page*/


/*table, th, td {
  border: 1px solid black;
}*/



* {
  
  --referent1: #c5e700;
  --referent2: #3da700;

  --jeune1: #e4006e;
  --jeune2: #fd9bff;

  --partenaire1: #464646;
  --partenaire2: #38ef7d;

  --consultant1: #007cc4;
  --consultant2: #50dcff;

  --headbar2: #9b9b9b;
  --headbar1: #fff;

  --background: #fff;
  --inactive: #9b9b9b;
}

* {
  margin: 0;
  font-family: sans-serif ;
}

html, body {
  height: 100%;
}
.wrapper {
  min-height: 100%;
  height: auto;
  height: 100%;
  margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
  height: 142px; /* .push must be the same height as .footer */
}


#referent>* {
  --primary:  var(--referent1);
  --secondary: var(--referent2);
  }

#jeune_signup{
  --primary:  var(--jeune1);
  --secondary: var(--jeune2);
}

#intro{
  --primary:  var(--jeune1);
  --secondary: var(--jeune2);
}

#intro_consultant{

  --primary:  var(--consultant1);
  --secondary: var(--consultant2);
}

#jeune_signin{
  --primary:  var(--jeune1);
  --secondary: var(--jeune2);

}

#mySpace{
  --primary:  var(--jeune1);
  --secondary: var(--jeune2);

}

#intro_referent{
  --primary:  var(--referent2);
  --secondary: var(--referent1);
}

#consID{
  --primary:  var(--consultant1);
  --secondary: var(--consultant2);
}

#createRef{
  --primary:  var(--jeune1);
  --secondary: var(--jeune2);
}

#consult{
  --primary: var(--jeune1);
  --secondary: var(--jeune2)
}






/*============================================Inputs pages style*/

/*====================PAGE HEAD=====================*/




#logojeunes{
  position: absolute;
}


#description{

  font-family: sans-serif;
  color: var(--secondary);
  font-size: 150%;
  text-align: center;

}

#page_head {

  height: 194px;
  background: radial-gradient(at bottom left, var(--headbar1), var(--headbar2));
  
  
  margin-top: 0px;
}

#module{

  text-align: end;
  font-family: sans-serif;
  color: var(--primary);
  font-size: 500%;
  
}

#tagline{
  overflow:hidden;
  font-family: sans-serif;
  color: white;
  font-size: 300%;
  text-align: right;
}



/*======== NAVBAR =======*/

#navbar{

  max-height: 10px;
  margin-right: 25%;
  margin-left: 25%;

  list-style: none;
  background: linear-gradient(180deg, var(--headbar1),var(--headbar2));
  
}

#navbar a{
  color: inherit;
}


#navbar td{
  font-size: 200%;
  text-align: center;
  padding-right: 5px;
  padding-left: 5px;
}

#navbar:first-child:hover{
  font: var(--jeune1);
  transition:0.1s;
}


#navbar td:nth-child(1){
  color: var(--jeune1);
}

#navbar td:nth-child(2){
  color: var(--referent2);
}

#navbar td:nth-child(3){
  color: var(--consultant1);
}

#navbar td:nth-child(4){
  color: var(--partenaire1);
}

#navbar td:nth-child(1):hover{
  color: var(--jeune2);
}

#navbar td:nth-child(4):hover{
  color: var(--partenaire2);
}


#navbar .active div{
  border-radius: 12px;
  padding-left: 4px;
  padding-right:4px;
}

#navbar td:nth-child(1).active div{
  color: var(--background);
  background:var(--jeune1);

  
}

#navbar td:nth-child(2).active div{
  color: var(--background);
  background:var(--referent2);
  
  
}

#navbar td:nth-child(3).active div{
  color: var(--background);
  background:var(--consultant1);

  
}

#navbar td:nth-child(4).active div{
  color: var(--background);
  background:var(--partenaire1);
  
}

 a:link{
  text-decoration: none;

 }

 #description{
  font-size: 200%;
  margin-left: 25%;
  margin-right:25%;

  padding:25px;
 }
































/*=================================================Inputs boxes*/


/*========        MAIN INPUT        ==========*/
.main_input{
  /* position:fixed;
  top:350px; */
  left:25%;
  right:25%;
}

.main_input fieldset {
  border: 2px inset var(--primary);
  border-radius: 13px;
  padding:16px;
  box-shadow: -10px 10px 3px rgba(94, 94, 94, 0.25);
  margin:52px;
  
}

#infos tr:nth-child(2){
  margin:30px;
}














/*========        SKILLS INPUT        ==========*/

#skills{
  border: 0;
  margin: auto;
  margin-left: 20%;
  padding: 5px;
  background: linear-gradient(120deg, transparent,var(--primary));
  accent-color: var(--secondary);
  font-size:150%;
}



#Be{
  text-align:center;
  font-size:150%;
  color: var(--secondary);
}

#Be2{
  padding-left: 10px;
  height: 30px;
  font-size:100%;
  color: var(--background);
  background: linear-gradient(to left, var(--secondary),var(--primary));
}

#fourMax{
  
  font-size:150%;
  color: var(--secondary);
  margin-left: 20%;
}






/*========        COMMENT INPUT        ==========*/

#comment_area{
  /* position: fixed; */
  width:200px;
  /* left:10px;
  top:25%; */
  

}

[for="comments"]{
  background: radial-gradient(at top left, var(--background), var(--primary));
  
  color: var(--background);
  font-family: sans-serif;
  font-size: 20px;
}

[name="comments"]{
  margin-right:20%;
  resize: none;
  outline: none;
  background: radial-gradient(at top left, var(--background), var(--primary));
  border-radius: 2px;
  border: 0;
  
  font-size: 150%;
  font-family: sans-serif;
  width:380px;
  height:480px;
}

[name="comments"]:hover{
  resize: none;
  outline: none;

  transition: 0.2s;
  border-radius: 7px;
  border: 0;
  
  width:385px;
  height: 485px;
}

[name="comments"]:focus{
  resize: none;
  outline: none;

  transition: 0.2s;
  border-radius: 7px;
  width:385px;
  height:485px;
}




















/*=================================Special Styling==============================================*/




/*===========================inputs text style*/





.input_text {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}


/*Style Input Text*/
.writing{  
  font-family: inherit;
  width: 100%;
  /*border: 0;*/
  border: 2px solid var(--inactive);
  outline: 0;
  font-size: 1.3rem;
  
  padding: 7px 0;
  background: transparent;
}

/*placeholders are used to detect if something is written in the input*/

.writing{
  z-index: 2;
}

.writing::placeholder {
    color: transparent;
    z-index:1;
  }


  .writing:placeholder-shown ~ label {
    position: absolute;
    font-size: 1.3rem;
    cursor: text;
    top: 23px;
    background-color: transparent;
    z-index: 3;
  }


  .writing~ label {
  
  position: absolute;
  top: 4px;
  left: 5px;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: var(--inactive);
  background-color: var(--background);
}

.writing:hover {

  padding-bottom: 6px;  
  border-width: 3px;
  border-image: linear-gradient(to left, var(--primary),var(--secondary));
  border-image-slice: 1;
}


.writing ~ label:hover {
  position: absolute;
  top: 4px;
  display: block;
  font-size: 1rem;
  color: var(--secondary);
  font-weight:700;  
  background-color: var(--background);  
}

.writing:hover ~ label {
    position: absolute;
    top: 4px;
    display: block;
    font-size: 1rem;
    color: var(--secondary);
    font-weight:700;  
    background-color: var(--background);  
  }

.writing:focus {

  padding-bottom: 6px;  
  border-width: 3px;
  border-image: linear-gradient(to left, var(--primary),var(--secondary));
  border-image-slice: 1;
}

.writing:focus ~ label {
    position: absolute;
    top: 4px;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: var(--secondary);
    font-weight:700;  
    background-color: var(--background);  
  }




/*=========================== DOTTED INPUTS ============================*/

.input_text2 .writing {
  border: 0;
  border-bottom: 4px dotted var(--primary);
  width:auto;
  height:auto;
  font-size:120%;
  font-family: "Lucida Handwriting";

}
.input_text2 .writing::placeholder{
  color: transparent;
}
.input_text2 label{
  font-size:150%;
  display: inline;
  color: var(--primary);
}
.input_text2 .writing:focus{
  outline:none;
}





/*=======================================button styling*/


button {
  background-color: var(--secondary);
  padding: 5px;
	border-width: 3px;
  border-image: linear-gradient(to right, var(--primary),var(--secondary));
  border-image-slice: 1;
	font-family: "Montserrat", sans-serif;
	font-size: 20px;
  transition: 0.2s;
  color: var(--background);
}
button:hover{
  transition: 0.3s;
  background-image: linear-gradient(to right, var(--primary),var(--secondary));
}







/*========================== SIGNUP ==============================*/
 button{
  margin-left:75%;

}

[type="submit"]{
  margin-left:75%;
}

/*=========================== INTRO ==================================*/



#speech{
  color:var(--inactive);
  margin: 10px;
  text-align: justify;
}
#speech #punchline{
  font-weight: bold;
}

#speech td{
  vertical-align:top;
  width: 30%;
  padding: 30px;
}
#intro h1{
  font-weight: normal;
  font-size: 200%;
  
}


#step1{
  border: 3px solid var(--primary);
  margin-left:40%;
  margin-right:40%;

}

#step1:hover{
  border: 3px solid var(--primary);
  margin-left:39%;
  margin-right:39%;
  transition:0.2s;

}


#step1 a div{
  background: linear-gradient(to right, #fff, var(--primary) 50%);
  color: var(--background);
  text-align: center;
  padding-top: 10%;
  padding-bottom: 10%;
  font-size: 150%;
  
}

#step1 a div:active{
  background: linear-gradient(to left, #fff, var(--primary) 50%);
}

#step1 a div ~div{
  background: radial-gradient(at top left, #fff, var(--secondary) 300%);
  text-align: justify;
  color:#9b9b9b;
  font-size: 120%;
  padding:5px;
  height:100px;
}
#step1 a div ~div:hover{
  background: radial-gradient(at top left, #fff, var(--secondary) 300%);
  text-align: justify;
  color:#9b9b9b;
  font-size: 120%;
  padding:5px;
  height:100px;
}

/*============    HOME PAGE   ==========*/

#home #grey{
  color: #34157d;
  width:100%;
  height:90%;
  background: linear-gradient(to right, var(--headbar1), var(--headbar2) 150%);
}

#home img{
  position: relative;
  width:30%;
}

#home table{
  position:fixed;
  top:10%;
  text-align: center;
  
  width:100%;
  background-color: transparent;
}
#home table tr:first-child{
  font-size: 200%;

}

#home table tr:nth-child(2) td{
  padding: 0px;
}

#home table tr:nth-child(3){

  font-size: 150%;
}

#home table tr:nth-child(4) td{
  padding:20px;
}

#home a{
  color: red;
  font-size: 200%;

}

#home a:hover{
  font-size:210%;
  transition:0.2s;
}

#home #disclaimer{
  margin-top:20px;
  text-align: center;
  font-size:70%;
  color: var(--inactive);

}


/*====================MY SPACE==================*/

#mySpace #option{
  position:fixed;
  top:50%;
}

#mySpace #option td{
  width: 33%;
  padding:10px;
  
}
#mySpace #option div{
  height: 100%;
  width: 100%;
  color: var(--primary);
  border: 3px solid var(--primary);
  border-radius: 5px;
  text-align: center;
}
#mySpace #option td:hover div{
  transition:0.5s;
  color: var(--primary);
  border-image: linear-gradient(to right, var(--primary),var(--secondary));
  border-image-slice: 1;
  border-radius: 5px;
}




/*============= REFERENCE ===============*/

#ref td{
  width: 25%;
  padding:30px;

}
#ref legend{
  color: var(--primary);
}
#ref td:first-child{
  padding-left:5px;
  color: var(--primary);
  text-align: center;
}


[name="exp"]{
  margin-right:20%;
  resize: none;
  outline: none;
  background: radial-gradient(at top left, var(--background), var(--primary));
  border-radius: 2px;
  border: 0;
  
  font-size: 150%;
  font-family: sans-serif;
  width:380px;
  height:480px;
}

#ref #Be2{
  padding-top: 3px;
  padding-bottom:3px;
}


/*============= CONSULT REFERENCES ============*/

#consult #references, #consult #references table {
  width:100%;
  min-height: 70px;
}

#consult #references div{
  border-radius: 15px;
  padding:5px;
}

#consult #references div.validated{
  background: radial-gradient(at top left, var(--background), var(--inactive) 90%);
}

#consult #references div.unvalidated{
  background: radial-gradient(at top left, var(--background), var(--jeune1) 130%);
}

#consult .unvalid_msg{
  background: radial-gradient(at top left, var(--background), var(--secondary) );
  border-radius: 30px;
  font-style: italic;
  padding-top: 3px;
  padding-bottom:3px;
  padding-right:8px;
  padding-left:2px;


}

#consult #references td td {
  vertical-align:top;
  
}

#consult #references td td:last-child {
  vertical-align:top;
  text-align: end;
  min-height: 70px;
}

